extends layout

block content
	div.container(style="width:600px")
		div.col-sm-6.col-md-4.col-md-offset-4
			#user
		div.signup-wall
			ul.user-details
				li
					a(href='/json-stream') Authenticated socket json rendering
				li
					a(href='/signalk/api/v1/vessels/') Sample query

