extends layout

block content
	div.container(style="width:400px")
		div.col-sm-6.col-md-4.col-md-offset-4
			#user
		div.signup-wall
			ul.user-details
				li localhost
				li
					a(href='/json-stream') Authenticated socket json rendering
				li
					a(href='/signalk/api/v1/vessels/') Sample query
				br				
				li squiddio					
				li
					a(href='/vessels/self') Authenticated real time feed (me)
				li 					 
					a(href='http://stream.squidd.io/signalk/api/v1/vessels/') AIS sailing & pleasure crafts
				li 					 
					a(href='http://stream.squidd.io/signalk/api/v1/vessels/') Friends latest positions
				li				li 					 
					a(href='http://stream.squidd.io/signalk/api/v1/vessels/') Nearby destinations
