extends layout

block content
	div.container(style="width:800px")
		div.col-sm-6.col-md-4.col-md-offset-4
			#user
		div.signup-wall
			table
				tr
					td(style="width:50%;") Authenticated endpoint
					td(style="width:50%;") Description
				tr
					td(colspan=2 style="background-color:#cccccc") <b>localhost</b>
				tr
					td
						a(href='/json-stream') http://localhost:3000/json-stream
					td Authenticated socket json rendering		
				tr
					td
						a(href='/signalk/api/v1/vessels/') http://localhost:3000/signalk/api/v1/vessels/
					td Sample query
												
				tr
					td(colspan=2)
				tr
					td(colspan=2 style="background-color:#cccccc") <b>squiddio</b>	
				tr
					td
						a(href='http://squidd.io:3000/json-stream?user_id=#{user ? user.squiddio.id : 0}&token=#{user ? user.squiddio.token : 0}') http://squidd.io:3000/json-stream
					td Authenticated socket json rendering										
				tr
					td
						a(href='/vessels/self') http://squidd.io/signalk/api/v1/vessels/self
					td Own vessel data
				tr 					 
					td 
						a(href='/vessels/') http://squidd.io/signalk/api/v1/vessels/ 
					td AIS sailing & pleasure crafts (AIS cat. 36 and 37. Limit 1000)
				tr 					 
					td
						a(href='/vessels/215*') http://squidd.io/signalk/api/v1/vessels/215* 
					td AIS sailing & pleasure crafts registered in Malta (limit 1000)				
				tr 					 
					td 
						a(href='/vessels/self:friends/navigation') http://squidd.io/signalk/api/v1/vessels/self:friends/navigation
					td	Latest navigation data of boats in sQuiddio follow list
				tr
					td 
						a(href='/vessels/self:nearby/navigation') http://squidd.io/signalk/api/v1/vessels/self:nearby/navigation
					td
						Vessels near own vessel 										
				tr
					td
						a(href='/resources/self:nearby/waypoints') http://squidd.io/signalk/api/v1/resources/self:nearby/waypoints
					td	Destinations near own vessel					
