
head
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Signal K consumer
    script(src='/signalk/stream/v1/primus.js')
block content
    div(style="float:left")
        a(href='/home') Home
    div(style="float:left;margin-left:45%") Welcome #{user.squiddio.firstName}
    div(style="float:right")
        a(href='/logout') Sign Out
    div(style="clear:both")
    br.
    pre
        div#data(style="min-height:800px;")
script.
    var signalKStream = Primus.connect(window.location.hostname + "/signalk/stream/v1?stream=delta&user_id=#{user.squiddio.id}&token=#{user.squiddio.token}", {
        reconnect: {
            maxDelay: 15000,
            minDelay: 500,
            retries: Infinity
        }
    });
    var dataDiv = document.getElementById('data');
    signalKStream.on('data', function(data) {
        dataDiv.innerHTML = JSON.stringify(data, null, 2);
    });