extends layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-3.col-md-offset-4(style: 'text-align:center')
                img(src='/stylesheets/images/signalk-logo.png', class='logo-img' width="300px")
                p.
                    SignalK Authenticated Server (beta)
                br.

                a(href='/login/squiddio', class='btn btn-block btn-social btn-twitter') Login with sQuiddio
                    i(class='fa fa-twitter')


