extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4(style: 'text-align:center')
				br.
				a(href='/login/squiddio', class='btn primary large' style='width:100%') Login with sQuiddio
		
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4(style='text-align:center;margin-top:30px;')
				a(href='https://squidd.io/users/new') Obtain a sQuidd.io account                


