node_modules
.DS_Store
*.db
samples/*
bower_components
.idea/
/providers/npm-debug.log
nohup.out
/settings/credentials.json
/settings/bbxais*.json
/settings/database.json
/settings/oauth*.json
/settings/bbx-settings.json
/settings/*.sh
/bin/bbxais*
npm-debug.log
*.sh
